@import "../../scss/vars";

.profile {
  margin: 0 auto;

  &__inner {
    max-width: 560px;
    width: 100%;
    background-color: #fff;
    margin-top: 176px;
    &-name {
      font-size: 58px;
      line-height: 52px;
      color: #0058d9;
      @include f800;
      margin-bottom: 12px;
    }
    &-datereg {
      color: $bg;
      font-size: 18px;
      line-height: 52px;
      @include f500;
      margin-bottom: 56px;
      span {
        @include f700;
      }
    }
    &-btn {
      font-size: 14px;
      line-height: 17px;
      color: $bg;
      display: flex;
      cursor: pointer;
      &__article {
        margin-right: 14px;
        &.active {
          color: #36b55a;
          @include f700;
        }
      }
      &__comment {
        &.active {
          color: #36b55a;
          @include f700;
        }
      }
    }
  }
  .article__inner{
    border: none;
    padding-left: 0;
  }
  .article {
  
    &.active{
      border: none;
    }
  }
}
