@import "../../scss/vars";

.article {
  max-width: 620px;
  width: 100%;
  &__inner {
    padding: 27px 30px;
    margin-right: 26px;
    display: flex;
    &.active{
    border-left: 4px solid #13315E;
  }
  }
  &__info {
    &-title {
      font-size: 24px;
      line-height: 30px;
      color: $bg;
      @include n800;
    }
    &-text {
      color: #898c90;
      margin-top: 2px;
    }
    &-date {
      display: flex;
      margin-top: 19px;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.01em;
      text-transform: uppercase;
      font-feature-settings: "tnum" on, "lnum" on;
      color: #c1c1c1;
      &__published {
        margin-right: 19px;
      }
      &__viewing {
        span {
          margin-left: 5px;
        }
      }
    }
  }
}
