@import "../../scss/vars";

.full-article {
  padding: 0 0 64px;
  margin: 0 auto;
   display: flex;
 
  &__left{
    max-width: 720px;
    width: 100%;
    padding-top: 37px;
    padding-left: 72px;
    padding-right: 58px;
  }
  &__image {
    position: relative;
  }
  &__box{
    &-date {
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.01em;
      text-transform: uppercase;
      color: #c1c1c1;
      @include ibm400;
      margin-bottom: 9px;
      &__viewing {
        margin-left: 21px;
        span {
          margin-left: 5px;
        }
      }
    }
    &-title {
      font-size: 42px;
      line-height: 52px;
      @include f800;
      margin-bottom: 14px;
      color: #fff;
    }
    &-text{
        color: rgba(255, 255, 255, 0.7);
    }
  }
  &__inner {
    position: absolute;
    top: 130px;
    max-width: 584px;
    width: 100%;
  }
  &__description {
    color: #202020;
    padding-left: 26px;
    border-left: 4px solid #13315E;
    span {
      color: #22af5d;
    }
  }
}
