@import "../../../scss/vars";

.headerTop-input {
  max-width: 620px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 32px;
  margin-top: 21px;
  margin-bottom: 22px;
  label {
    max-width: 314px !important;
    width: 100%;
    input {
      border: none;
      max-width: 314px !important;
      width: 100%;
      outline: none;
      &::placeholder {
        color: #798fa8;
      }
    }
  }
  button{
    width: 16px;
    height: 16px;
    color: #D3D3D3;
    border: none;
    cursor: pointer;
  }
}
