@import "../../scss/vars";

.registration {
  background-color: #fff;
  padding: 0 40px;
  max-width: 446px;
  width: 100%;
  border-radius: 12px;
  &__top {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
    &-title {
      color: #373737;
      font-size: 26px;
      line-height: 32px;
      @include f700;
    }
    &-exit {
      cursor: pointer;
    }
  }
  .ant-form-item-required{
    font-size: 13px;
    line-height: 19px;
    @include f600;
    color: #373737;
    margin-bottom: 8px;
  }
}
